body {
    margin: 0;
    width: 575px;
    height: 385px;
    background-color: #1B244A;
}

.container {
    display: flex;
    justify-content: space-around;
}

.titleName{
    color: white;
    font-size: 40px;
    margin-bottom: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 10px;
    text-align: center;
    justify-content: center;
}

.homeSide {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home-score {
    display: flex;
    width: 155px;
    height: 120px;
    background-color: black;
    color: #F94F6D;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
    border-radius: 5px;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 90px;
    padding: 16px 8px;
}

.addPoints {
    display: flex;
    width: 155px;
    justify-content:space-between;
    text-align: center;
}

.onePlus, .twoPlus, .threePlus{
    font-family: 'Cursed Timer ULiL', sans-serif;
    background-color: transparent;
    border-color: #9AABD8;
    color: #9AABD8;
    text-align: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    border-radius: 5px;
    border: 2px solid;
    
}

.guestSide {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#guest-score {
    display: flex;
    width: 155px;
    height: 120px;
    background-color: black;
    color: #F94F6D;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
    border-radius: 5px;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 90px;
    padding: 16px 8px;
}

.restartScore{
    display: flex;
    font-family: 'Cursed Timer ULiL', sans-serif;
    background-color: transparent;
    border-color: #9AABD8;
    color: #9AABD8;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 90px;
    border-radius: 5px;
    border: 2px solid;
    flex-direction: row;
}

.restartBlock{
    display: flex;
    align-items: center;
    justify-content: center;
}